* {
  box-sizing: border-box;
}

body {
  background-image: url("https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-color: #cccccc;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 5em;
  margin-bottom: 5em;
  padding: 1em;
}

ul {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}
