.create {
  border: none;
  display: grid;
  gap: 10px;
}

.create__headline {
  color: wheat;
}

.create__button {
  width: 12em;
  justify-self: center;
  padding: 0.4em 1em;
  align-self: center;
  background-color: #ffc500;
  color: #7f0909;
  border: #7f0909 solid 2px;
}
